# This template is used by synapse-entrypoint.sh to generate the actual config

tls_certificate_path: "/data/keys/synapse.crt"
tls_private_key_path: "/data/keys/synapse.key"
tls_dh_params_path: "/data/keys/synapse.dh"

no_tls: False
server_name: "${SERVER_NAME}"

web_client: True
soft_file_limit: 0

federation_domain_whitelist:
${KNOWN_SERVERS}

listeners:
  - port: 8448
    bind_addresses: ['0.0.0.0']
    type: http
    tls: true
    x_forwarded: true
    resources:
      - names:
          - client     # The client-server APIs, both v1 and v2
          - webclient  # The bundled webclient.
        compress: false
      - names:  # Federation APIs
        - federation
        compress: false

  - port: 8008
    bind_addresses: ['0.0.0.0']
    type: http
    tls: false
    x_forwarded: true
    resources:
      - names:
        - client
        - webclient
        compress: false
      - names:
        - federation
        compress: false

  - port: 9101
    bind_addresses: ['0.0.0.0']
    type: metrics

  # TCP replication
  - port: 9092
    bind_address: '0.0.0.0'
    type: replication

  # HTTP replication
  - port: 9093
    bind_address: '0.0.0.0'
    type: http
    resources:
     - names: [replication]


event_cache_size: "20K"

log_config: "/config/synapse.log.config"


## Ratelimiting

# Number of messages a client can send per second
rc_messages_per_second: 15
# Number of message a client can send before being throttled
rc_message_burst_count: 100.0
# The federation window size in milliseconds
federation_rc_window_size: 1000
# The number of federation requests from a single server in a window
# before the server will delay processing the request.
federation_rc_sleep_limit: 50
# The duration in milliseconds to delay processing events from
# remote servers by if they go over the sleep limit.
federation_rc_sleep_delay: 250
# The maximum number of concurrent federation requests allowed
# from a single server
federation_rc_reject_limit: 50
# The number of federation requests to concurrently process from a
# single server
federation_rc_concurrent: 3


## Files and uploads
# Disable all
max_upload_size: "0"
max_image_pixels: "0"
dynamic_thumbnails: false
url_preview_enabled: False

## Registration
enable_registration: True
enable_registration_captcha: False
allow_guest_access: False

bcrypt_rounds: 12

trusted_third_party_id_servers:
    - localhost

auto_join_rooms:

## Metrics ###
enable_metrics: True
report_stats: True


## API Configuration ##
room_invite_state_types:
    - "m.room.join_rules"
    - "m.room.canonical_alias"
    - "m.room.avatar"
    - "m.room.name"


# A list of application service config file to use
app_service_config_files: []

macaroon_secret_key: "${MACAROON_KEY}"

# Used to enable access token expiration.
expire_access_token: False

## Signing Keys

# Path to the signing key to sign messages with
signing_key_path: "/data/keys/synapse-signing.key"
old_signing_keys: {}

key_refresh_interval: "1d" # 1 Day.

# Enable password for login.
password_config:
   enabled: true

enable_group_creation: false

user_directory:
   search_all_users: true

database:
    name: psycopg2
    args:
        user: postgres
        password:
        database: synapse
        host: db
        cp_min: 5
        cp_max: 10

# This is handled by a worker
update_user_directory: False
