version: 1

formatters:
  precise:
   format: '%(asctime)s %(name)s(%(lineno)d) [%(levelname)-8s]:  %(message)s'


handlers:
  file:
    class: logging.handlers.RotatingFileHandler
    formatter: precise
    filename: /data/log/synapse.log
    maxBytes: 104857600
    backupCount: 50
  console:
    class: logging.StreamHandler
    level: DEBUG
    formatter: precise

loggers:
    raiden_synapse_modules:
        level: DEBUG
    synapse:
        level: DEBUG
    synapse.storage.SQL:
        # beware: increasing this to DEBUG will make synapse log sensitive
        # information such as access tokens.
        level: WARNING

root:
    level: DEBUG
    handlers: [file, console]

