version: 1

formatters:
  precise:
   format: '%(asctime)s %(name)s(%(lineno)d) [%(levelname)-8s]: %(request)s %(message)s'

filters:
  context:
    (): synapse.util.logcontext.LoggingContextFilter
    request: ""

handlers:
  file:
    class: logging.handlers.RotatingFileHandler
    formatter: precise
    filename: /data/log/synapse.log
    maxBytes: 104857600
    backupCount: 50
    filters: [context]
  console:
    class: logging.StreamHandler
    level: DEBUG
    formatter: precise
    filters: [context]

loggers:
    raiden_synapse_modules:
        level: DEBUG
    synapse:
        level: WARNING
    synapse.access.http:
        level: INFO
    synapse.rest.client.v2_alpha.sync:
        level: INFO
    synapse.storage.SQL:
        # beware: increasing this to DEBUG will make synapse log sensitive
        # information such as access tokens.
        level: WARNING

root:
    level: WARNING
    handlers: [file, console]

