version: 1

formatters:
  precise:
   format: '%(asctime)s %(name)s(%(lineno)d) [%(levelname)-8s]: %(request)s %(message)s'

filters:
  context:
    (): synapse.util.logcontext.LoggingContextFilter
    request: ""

handlers:
  file:
    class: logging.handlers.RotatingFileHandler
    formatter: precise
    filename: /data/log/synapse.log
    maxBytes: 104857600
    backupCount: 50
    filters: [context]
  console:
    class: logging.StreamHandler
    level: DEBUG
    formatter: precise
    filters: [context]

loggers:
    synapse:
        level: DEBUG
    raiden_synapse_modules:
        level: DEBUG


root:
    level: WARNING
    handlers: [file, console]

