version: 2.1

jobs:
  build_synapse:
    environment:
      BASH_ENV: BUILD_VERSIONS
    docker:
      - image: circleci/buildpack-deps:stretch
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            IMAGE_NAME=raidennetwork/raiden-services-bundle \
            DOCKER_TAG=${CIRCLE_TAG:-nightly}-synapse; \
            docker build --build-arg SYNAPSE_VERSION -t ${IMAGE_NAME}:${DOCKER_TAG} build/synapse ; \
            echo "$DEVOPS_DOCKERHUB_TOKEN" | docker login -u brainbotdevops --password-stdin ; \
            docker push ${IMAGE_NAME}:${DOCKER_TAG}
  build_db:
    environment:
      BASH_ENV: BUILD_VERSIONS
    docker:
      - image: circleci/buildpack-deps:stretch
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            IMAGE_NAME=raidennetwork/raiden-services-bundle \
            DOCKER_TAG=${CIRCLE_TAG:-nightly}-db; \
            docker build --build-arg POSTGRES_VERSION -t ${IMAGE_NAME}:${DOCKER_TAG} build/db ; \
            echo "$DEVOPS_DOCKERHUB_TOKEN" | docker login -u brainbotdevops --password-stdin ; \
            docker push ${IMAGE_NAME}:${DOCKER_TAG}
  build_well_known:
    environment:
      BASH_ENV: BUILD_VERSIONS
    docker:
      - image: circleci/buildpack-deps:stretch
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            IMAGE_NAME=raidennetwork/raiden-services-bundle \
            DOCKER_TAG=${CIRCLE_TAG:-nightly}-well_known_server; \
            docker build --build-arg NGINX_VERSION -t ${IMAGE_NAME}:${DOCKER_TAG} build/well_known_server ; \
            echo "$DEVOPS_DOCKERHUB_TOKEN" | docker login -u brainbotdevops --password-stdin ; \
            docker push ${IMAGE_NAME}:${DOCKER_TAG}
  build_room_ensurer:
    environment:
      BASH_ENV: BUILD_VERSIONS
    docker:
      - image: circleci/buildpack-deps:stretch
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build Docker image
          command: |
            IMAGE_NAME=raidennetwork/raiden-services-bundle \
            DOCKER_TAG=${CIRCLE_TAG:-nightly}-room_ensurer; \
            docker build --build-arg RAIDEN_VERSION -t ${IMAGE_NAME}:${DOCKER_TAG} build/room_ensurer ; \
            echo "$DEVOPS_DOCKERHUB_TOKEN" | docker login -u brainbotdevops --password-stdin ; \
            docker push ${IMAGE_NAME}:${DOCKER_TAG}
            echo "$DEVOPS_DOCKERHUB_TOKEN" | docker login -u brainbotdevops --password-stdin ; \
            docker push ${IMAGE_NAME}:${DOCKER_TAG}

workflows:
  version: 2
  build_images:
    jobs:
      - build_synapse
      - build_db
      - build_well_known
      - build_room_ensurer
  tagged_images:
    jobs:
      - build_synapse:
          filters:
            tags:
              only: /.*/
      - build_db:
          filters:
            tags:
              only: /.*/
      - build_well_known:
          filters:
            tags:
              only: /.*/
      - build_room_ensurer:
          filters:
            tags:
              only: /.*/
