version: 2.1

commands:
  build-container:
    parameters:
      image-name:
        description: "Name of the image being built"
        default: "raidennetwork/raiden-service-bundle"
        type: string
      build-target:
        description: "Which component are we building"
        type: enum
        enum: ["synapse", "db", "well_known_server", "room_ensurer", "purger", "state_groups_cleaner"]
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Set version tag or skip build
          command: |
            source .circleci/set_version_tag_or_skip.sh
            echo "export VERSION_TAG=${VERSION_TAG}" >> BUILD_VERSIONS
      - run:
          name: Build Docker image
          command: |
            export IMAGE_NAME=<< parameters.image-name >>
            export DOCKER_TAG=${CIRCLE_TAG:-${VERSION_TAG}}-<< parameters.build-target >>
            docker build \
              --build-arg SYNAPSE_VERSION \
              --build-arg POSTGRES_VERSION \
              --build-arg NGINX_VERSION \
              --build-arg RAIDEN_VERSION \
              -t ${IMAGE_NAME}:${DOCKER_TAG} \
              build/<< parameters.build-target >>
            echo "$DEVOPS_DOCKERHUB_TOKEN" | docker login -u brainbotdevops --password-stdin
            docker push ${IMAGE_NAME}:${DOCKER_TAG}

executors:
  default:
    environment:
      BASH_ENV: BUILD_VERSIONS
    docker:
      - image: circleci/buildpack-deps:stretch


jobs:
  build_synapse:
    executor: default
    steps:
      - build-container:
          build-target: synapse

  build_db:
    executor: default
    steps:
      - build-container:
          build-target: db

  build_well_known:
    executor: default
    steps:
      - build-container:
          build-target: well_known_server

  build_room_ensurer:
    executor: default
    steps:
      - build-container:
          build-target: room_ensurer

  build_purger:
    executor: default
    steps:
      - build-container:
          build-target: purger

  build_state_groups_cleaner:
    executor: default
    steps:
      - build-container:
          build-target: state_groups_cleaner


workflows:
  version: 2
  build_images:
    jobs:
      - build_synapse
      - build_db
      - build_well_known
      - build_room_ensurer
      - build_purger
      - build_state_groups_cleaner

  tagged_images:
    jobs:
      - build_synapse:
          filters:
            tags:
              only: /.+/
            branches:
              ignore: /.*/
      - build_db:
          filters:
            tags:
              only: /.+/
            branches:
              ignore: /.*/
      - build_well_known:
          filters:
            tags:
              only: /.+/
            branches:
              ignore: /.*/
      - build_room_ensurer:
          filters:
            tags:
              only: /.+/
            branches:
              ignore: /.*/
      - build_purger:
          filters:
            tags:
              only: /.+/
            branches:
              ignore: /.*/
      - build_state_groups_cleaner:
          filters:
            tags:
              only: /.+/
            branches:
              ignore: /.*/
